%div.container
  %h2 Астрология
  %p.statement Судьба человека зависит от времени рождения и положения звезд и планет
  %div.pro
    %h3 За
    %h4 Четыре — число сторон света
    %p
      Четыре — число сторон света
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [1]
      ,охватывающее весь мир, и недаром говорят:
      "пойти на все четыре стороны".
      Треугольник сжимается в точку, триада образует одно,
      делая три числом невидимого времени.
      Четыре стороны света крестом распростираются
      на весь внешний мир, охватывая его видимое пространство.
      Тройка, распадаясь разными способами на два и один,
      являет внутренне диалектическую изменчивость.
      Четверка, раздираемая двумя внутренними противоречиями,
      стоит жёстко и непоколебимо, олицетворяя статичность мира.
    %ul
      %li
        1.
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} Александр Панчин. Эпические битвы мракобесий: астрология против кулиологии
  %div.contra
    %h3 Против
    %h4 Число четыре
    %p
      Число четыре, появляющееся в снах и ассоциациях,
      является безусловно благоприятным для психики:
      оно символизирует появившуюся стабильность и
      внутреннее здоровье, зависящее от гармоничного
      проявления и хорошего осознания движений души.
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [2]
      Четыре обозначает гармонию разных подсознательных
      психических функций и их разумный анализ.
      В отличие от него, число три указывает на
      нестабильную ситуацию, возникающее движение
      бессознательного, которое ещё не проявилось
      и не дошло до ума. Три обозначает опасность
      распада внутренней личности, четыре — обретаемую
      целостность и создание своего нового образа.
    %ul
      %li
        2.
        %a{:href => '#'} Кто-то. Что-то
  %p.statement Судьба человека зависит от времени рождения и положения звезд и планет
  %div.pro
    %h3 За
    %h4 Четыре — число сторон света
    %p
      Четыре — число сторон света
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [1]
      ,охватывающее весь мир, и недаром говорят:
      "пойти на все четыре стороны".
      Треугольник сжимается в точку, триада образует одно,
      делая три числом невидимого времени.
      Четыре стороны света крестом распростираются
      на весь внешний мир, охватывая его видимое пространство.
      Тройка, распадаясь разными способами на два и один,
      являет внутренне диалектическую изменчивость.
      Четверка, раздираемая двумя внутренними противоречиями,
      стоит жёстко и непоколебимо, олицетворяя статичность мира.
    %ul
      %li
        1.
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} Александр Панчин. Эпические битвы мракобесий: астрология против кулиологии
  %div.contra
    %h3 Против
    %h4 Число четыре
    %p
      Число четыре, появляющееся в снах и ассоциациях,
      является безусловно благоприятным для психики:
      оно символизирует появившуюся стабильность и
      внутреннее здоровье, зависящее от гармоничного
      проявления и хорошего осознания движений души.
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [2]
      Четыре обозначает гармонию разных подсознательных
      психических функций и их разумный анализ.
      В отличие от него, число три указывает на
      нестабильную ситуацию, возникающее движение
      бессознательного, которое ещё не проявилось
      и не дошло до ума. Три обозначает опасность
      распада внутренней личности, четыре — обретаемую
      целостность и создание своего нового образа.
    %ul
      %li
        2.
        %a{:href => '#'} Кто-то. Что-то
  %p.statement Многие люди верят в гороскопы, гороскопы публикуются во многих печатных изданиях и в Интернете, значит это правда
  %div.pro
    %h3 За
    %h4 Четыре — число сторон света
    %p
      Четыре — число сторон света
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [1]
      ,охватывающее весь мир, и недаром говорят:
      "пойти на все четыре стороны".
      Треугольник сжимается в точку, триада образует одно,
      делая три числом невидимого времени.
      Четыре стороны света крестом распростираются
      на весь внешний мир, охватывая его видимое пространство.
      Тройка, распадаясь разными способами на два и один,
      являет внутренне диалектическую изменчивость.
      Четверка, раздираемая двумя внутренними противоречиями,
      стоит жёстко и непоколебимо, олицетворяя статичность мира.
    %ul
      %li
        1.
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} Александр Панчин. Эпические битвы мракобесий: астрология против кулиологии
  %div.contra
    %h3 Против
    %h4 Число четыре
    %p
      Число четыре, появляющееся в снах и ассоциациях,
      является безусловно благоприятным для психики:
      оно символизирует появившуюся стабильность и
      внутреннее здоровье, зависящее от гармоничного
      проявления и хорошего осознания движений души.
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [2]
      Четыре обозначает гармонию разных подсознательных
      психических функций и их разумный анализ.
      В отличие от него, число три указывает на
      нестабильную ситуацию, возникающее движение
      бессознательного, которое ещё не проявилось
      и не дошло до ума. Три обозначает опасность
      распада внутренней личности, четыре — обретаемую
      целостность и создание своего нового образа.
    %ul
      %li
        2.
        %a{:href => '#'} Кто-то. Что-то
  %p.statement Астрология имеет богатую историю, она развивалась вместе с другими науками
  %div.pro
    %h3 За
    %h4 Четыре — число сторон света
    %p
      Четыре — число сторон света
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [1]
      ,охватывающее весь мир, и недаром говорят:
      "пойти на все четыре стороны".
      Треугольник сжимается в точку, триада образует одно,
      делая три числом невидимого времени.
      Четыре стороны света крестом распростираются
      на весь внешний мир, охватывая его видимое пространство.
      Тройка, распадаясь разными способами на два и один,
      являет внутренне диалектическую изменчивость.
      Четверка, раздираемая двумя внутренними противоречиями,
      стоит жёстко и непоколебимо, олицетворяя статичность мира.
    %ul
      %li
        1.
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} Александр Панчин. Эпические битвы мракобесий: астрология против кулиологии
  %div.contra
    %h3 Против
    %h4 Число четыре
    %p
      Число четыре, появляющееся в снах и ассоциациях,
      является безусловно благоприятным для психики:
      оно символизирует появившуюся стабильность и
      внутреннее здоровье, зависящее от гармоничного
      проявления и хорошего осознания движений души.
      %sup><
        %a{:href => 'http://scinquisitor.livejournal.com/24796.html'} [2]
      Четыре обозначает гармонию разных подсознательных
      психических функций и их разумный анализ.
      В отличие от него, число три указывает на
      нестабильную ситуацию, возникающее движение
      бессознательного, которое ещё не проявилось
      и не дошло до ума. Три обозначает опасность
      распада внутренней личности, четыре — обретаемую
      целостность и создание своего нового образа.
    %ul
      %li
        2.
        %a{:href => '#'} Кто-то. Что-то

%script{:type => 'text/javascript', :src => 'js/boot.js'}