%h1
  = @title

%h2 Современная наука
%p
  Начинать разговор о
  %span.marker< науке
  принятно с энциклопедических цитат, об этой, безусловно, важной сфере человеческой жизни.
  Однако, это правило стоит нарушить, что бы не утруждать читателя.

%p
  Рассмотрим немного подробнее два простых определения:
  %span.marker< Наука&nbsp;— это способ получать и хранить знания
  и
  %span.marker< Ученый&nbsp;— это человек, занимающийся наукой.

%p
  Если взглянуть на историю человечества, то именно способность нашего вида хранить
  и передавать знания&nbsp;— от поколения к поколению,&nbsp;— позволила нам стать самыми успешными существами
  на планете. Люди всегда искали более совершенные способы получения знаний и далеко не сразу
  человечество сформулировало свод правил, позволивший достичь поразительных успехов в изучении мира.

%p
  Эти правила сегодня известны под названием
  %span.marker< Научный метод.

%h2 Научный метод

%p
  Споры о том, какой именно способ извлечения знаний из окружающего мира наиболее подходящий, не утихали на протяжении
  веков. Историки и философы (а в особенности историки философии) наверняка могут привести не один десяток учений, у каждого
  из которых были свои мысли на этот счет, однако мы постараемся обобщить все эти идеи до двух:

%ol
  %li
    Умозаключения важнее, чем свидетельства и проверка доказательств;
  %li
    Свидетельства важнее, чем выводы, на них основанные.

%p
  Исторически, первая идея получила наибольшее признание, в то время как вторая была на долгие века
  отодвинута на задворки. Где и оставалась, по мнению некоторых историков, вплоть до конца 16го века.
  Другие историки науки считают, что переломный момент наступил раньше, в середине 15го века.

%p
  Как бы то ни было, сейчас для нас очевидно, что второй подход — применяемый при исследовании явлений окружающего мира —
  оказался черезвычайно эффективным. Он привел ко взрывному росту знаний и возможностей человечества, и пока нет оснований
  полагать, что в будущем что-то изменится.

%p
  Вплоть до сегодняшнего дня научное сообщество пользуется сводом правил, основные из которых
  мы попробуем рассмотреть в упрощенном виде, для начала освежив в памяти некоторые понятия:
  %span.marker< гипотеза
  ,
  %span.marker< эксперимент
  и
  %span.marker<теория.


%h3
  Гипотеза
%p
  Человек, наблюдая за каким-то явлением, пытается неким образом объяснить происходящее. К примеру, наблюдая за
  восходом и закатом Солнца, некоторые древние люди выдвигали предположения о человечености таких явлений: полагали
  светило героем или божеством, занимающимся определенным занятием каждый день. Так древние египтяне считали Солнце
  богом Ра, днем плывущим на лодке по небу, а ночью спускавшимся под землю.

%p
  В качестве еще однго примера умозаключения об устройстве окружающего мира можно привести идею о плоской Земле,
  окруженной со всех строн океанами.

%p
  Обе этих идеи: о боге-Солнце и об плоском мире, окруженном океаном, можно назвать
  %span.marker< гипотезами.
  По сути, гипотеза, это предположение, догадка, которая выглядит достаточно правдоподобно, что бы претендовать на объяснение
  некоторого явления.


%h3
  Эксперимент
%p
  Как вы помните, достаточно долгое время люди не считали доказательство гипотез чем-то важным
  («умозаключения важнее, чем доказательства»), поэтому практически никто не проверял и анализировал гипотезы более глубоко.
  На этом фоне ярко выделяются мыслители Древней Греции, в четвертом веке до нашей эры окончательно опровергнувшие гипотезу
  о плоской Земле, путем нескольких независимых проверок[1],[2]:

%ol
  %li
    Греки заметили изменение картины звездного неба при перемещениях: появлялись новые звезды, исчезали старые, в
    зависимости от направления путешествия. Если бы Земля была плоской, то более вероятным вариантом были бы наблюдения
    неизменного звездного неба;

  %li
    Так же, они наблюдали всегда круглую тень на Луне во время лунных затмений, хотя изменения проводились из разных мест.
    Плоская Земля отбрасывала бы и другие виды теней;

  %li
    Корабли, уходящие в море, пропадали из вида постепенно, сначала исчезал корпус, потом паруса; тоже наблюдалось и с неподвижными
    крупными объектами, например, скалами, при перемещении самого наблюдателя, что свидетельствовало о кривизне поверхности.

%p
  Все эти проверки и наблюдения греков можно назвать
  %span.marker< экспериментами.
  Они удовлетворяют одному из главных требований к эксперименту —
  %span.marker< воспроизводимостью:
  любой человек может воспроизвести эти эксперименты и убедиться в том, что результаты совпадают с описанными Аристотелем[3].
  Воспроизводимость — очень важное качество для правильного эксперимента. Если эксперимент поставлен корректно, то, проделав
  необходимые для его проведения действия, разные люди должны получить одинаковый результат.




%ul
  %li
    Проверяемость информации.
  %li
    Объективность и открытость информации. Эксперименты должны
  %li
    Критическое отношение к информации.



-# Дорихтовать ссылки
1 - http://ru.wikipedia.org/wiki/%D0%9F%D0%BB%D0%BE%D1%81%D0%BA%D0%B0%D1%8F_%D0%97%D0%B5%D0%BC%D0%BB%D1%8F#.D0.90.D0.BD.D1.82.D0.B8.D1.87.D0.BD.D0.BE.D1.81.D1.82.D1.8C
2 - http://kureda.narod.ru/twor/rei_12/l4.html
3 - Аристотель описал эти доказательство в книге «О небе» http://filosof.historic.ru/books/item/f00/s00/z0000581/index.shtml