%h1
  = @title

%h2 Современная наука
%p
  Начинать разговор о
  %span.marker< науке
  принятно с энциклопедических цитат, об этой, безусловно, важной сфере человеческой жизни.
  Однако, это правило стоит нарушить, что бы не утруждать читателя.

%p
  Рассмотрим немного подробнее два простых определения:
  %span.marker< Наука&nbsp;— это способ получать и хранить знания
  и
  %span.marker< Ученый&nbsp;— это человек, занимающийся наукой.

%p
  Если взглянуть на историю человечества, то именно способность нашего вида хранить
  и передавать знания&nbsp;— от поколения к поколению,&nbsp;— позволила нам стать самыми успешными существами
  на планете. Люди всегда искали более совершенные способы получения знаний и далеко не сразу
  человечество сформулировало свод правил, позволивший достичь поразительных успехов в изучении мира.

%p
  Эти правила сегодня известны под названием
  %span.marker< Научный метод.

%h2 Научный метод

%p
  Споры о том, какой именно способ извлечения знаний из окружающего мира наиболее подходящий, не утихали на протяжении
  веков. Историки и философы (а в особенности историки философии) наверняка могут привести не один десяток учений, у каждого
  из которых были свои мысли на этот счет, однако мы постараемся обобщить все эти идеи до двух:

%ol
  %li
    Умозаключения важнее, чем свидетельства и проверка доказательств;
  %li
    Свидетельства важнее, чем выводы, на них основанные.

-#%h2 Преемственность в науке

-#Специализации у ученых

-#Наука vs лженаука

-#Ученые скрывают: архив и пабмед, границы и международный язык
-#
-#
-#
-#Прогресс остановился


-#Почему наука не изучает религию

