%h1
  = @title

%h2 Современная наука
%p
  Начинать разговор о
  %span.marker< науке
  принято с энциклопедических цитат, об этой, безусловно, важной сфере человеческой жизни.
  Однако это правило стоит нарушить, чтобы не утруждать читателя.

%p
  Рассмотрим немного подробнее два простых определения:
  %span.marker< Наука&nbsp;— это способ получать и хранить знания
  и
  %span.marker< Ученый&nbsp;— это человек, занимающийся наукой.

%p
  Если взглянуть на историю человечества, то именно способность нашего вида хранить
  и передавать знания&nbsp;— от поколения к поколению,&nbsp;— позволила нам стать самыми успешными существами
  на планете. Люди всегда искали более совершенные способы получения знаний и далеко не сразу
  человечество сформулировало свод правил, позволивший достичь поразительных успехов в изучении мира.

%p
  Сегодня эти правила  известны под названием
  %span.marker< Научный метод.

%h2 Научный метод

%p
  Споры о том, какой именно способ извлечения знаний из окружающего мира наиболее подходящий, не утихали на протяжении
  веков. Историки и философы (а в особенности историки философии) наверняка могут привести не один десяток учений, в каждом
  из которых на этот счет имелись различные мнения. Однако мы постараемся обобщить эти идеи до двух:

%ol
  %li
    Умозаключения важнее, чем свидетельства и проверка доказательств;
  %li
    Свидетельства важнее, чем выводы, на них основанные.

%p
  Исторически, первая идея получила наибольшее признание, в то время как вторая была на долгие века
  отодвинута на задворки. Где и оставалась, по мнению некоторых историков, вплоть до конца 16го века.
  Другие историки науки считают, что переломный момент наступил раньше: в середине 15го века.

%p
  Как бы то ни было, сейчас для нас очевидно, что второй подход, применяемый при исследовании явлений окружающего мира,
  оказался черезвычайно эффективным. Он привел к взрывному росту знаний и возможностей, и пока нет оснований
  полагать, что в будущем что-то изменится.

%p
  Вплоть до сегодняшнего дня научное сообщество пользуется сводом правил, основные из которых
  мы попробуем рассмотреть в упрощенном виде, но для начала освежим в памяти некоторые понятия:
  %span.marker< гипотеза
  ,
  %span.marker< эксперимент
  и
  %span.marker<теория.


%h3
  Гипотеза
%p
  Человек, наблюдая за каким-то явлением, пытается неким образом объяснить происходящее. К примеру, наблюдая за
  восходом и закатом Солнца, некоторые древние люди выдвигали предположения об очеловеченности таких явлений: полагали
  светило героем или божеством, выполняющим определенные действия каждый день. Так, древние египтяне считали Солнце
  богом Ра, который днем плыл на лодке по небу, а ночью спускался под землю.

%p
  Еще одним примером умозаключения об устройстве окружающего мира может служить идея о плоской Земле,
  окруженной со всех строн океанами.

%p
  Обе этих идеи: о боге-Солнце и о плоском мире, окруженном океаном, можно назвать
  %span.marker< гипотезами.
  По сути, гипотеза&nbsp;— это предположение, догадка, которая выглядит достаточно правдоподобно, чтобы претендовать на объяснение
  некоторого явления.


%h3
  Эксперимент
%p
  Как вы помните, достаточно долгое время люди не считали доказательство гипотез чем-то важным
  («умозаключения важнее, чем доказательства»), поэтому практически никто не проверял и не анализировал гипотезы более детально.
  На этом фоне ярко выделяются мыслители Древней Греции, корорые в четвертом веке до нашей эры путем нескольких независимых проверок окончательно опровергли гипотезу
  о плоской Земле
  %sup>
    %a{:href => "#p1"}><
      [1]
  \:

%ol
  %li
    Греки заметили изменение картины звездного неба при перемещениях: в
    зависимости от направления путешествия появлялись новые звезды, исчезали старые. Если бы Земля была плоской, то более вероятным было бы наблюдать
    неизменное звездное небо.

  %li
    Также, они наблюдали всегда круглую тень на Луне во время лунных затмений, хотя и проводили свои иследования из разных мест.
    Плоская Земля отбрасывала бы и другие виды теней.

  %li
    Корабли, уходящие в море, пропадали из вида постепенно, сначала исчезал корпус, потом паруса. Подобное происходило и с неподвижными
    крупными объектами, например, скалами при перемещении самого наблюдателя, что свидетельствовало о кривизне поверхности.

%p
  Все эти проверки и наблюдения греков можно назвать
  %span.marker< экспериментами.
  Они удовлетворяют одному из главных требований к эксперименту —
  %span.marker< воспроизводимостью:
  любой человек может повторить эти эксперименты и убедиться в том, что результаты совпадают с описанными Аристотелем
  %sup>
    %a{:href => "#p2"}><
      [2]
  \.

%h3
  Воспроизводимость эксперимента

%p
  Воспроизводимость — очень важное свойство правильного эксперимента. Если эксперимент поставлен корректно, то, проделав
  необходимые действия, разные люди должны получить одинаковый результат.

%p
  Для корректно поставленного (а значит и воспроизводимого) эксперимента нет срока давности.
  Все помнят историю об Архимеде и золотой короне? «Эврика!» — вскричал ученый и побежал голышом к царю с докладом
  %sup>
    %a{:href => "#p3"}><
      [3]
  \.

%p
  Мы можем утверждать что так все и было на самом деле (и выкрики, и пробежка без халата) только в одном случае: если принять на веру популярную легенду.
  Однако сам эксперимент Архимеда принимать на веру не нужно, его достаточно легко воспроизвести прямо сейчас:
  возьмите два небольших одинаковых кусочка хлеба и таз с водой. Один кусочек оставьте как есть, а второй сомните в шарик. Опустите
  их в воду: первый кусочек остался на плаву, а второй (шарик) — утонул.

%a.expand{:href => "#"}
  Узнать подробности...

.spoiler
  %p
    Все дело в разной плотности кусочков хлеба: первый кусочек в целом менее плотный, чем второй
    (т.к. первый содержит большое количество пустых камер с воздухом), а значит, занимает больший объем. Сила, которая выталкивает
    хлеб из воды, возникает в результате вытеснения части воды хлебом: если замерить уровень воды до того, как вы положили хлеб
    и после, вы заметите, что он вырос. Более того, обычный кусочек хлеба вытеснит больше воды, чем хлебный шарик, при одинаковом весе!
    В точности это и заметил Архимед в 3м веке до нашей эры.

  %p
    Сила, которая выталкивает хлеб из воды, называется
    %span.marker< силой Архимеда
    %sup>
      %a{:href => "#p4"}><
        [4]
    \.

  %p
    На хлеб действует и другая сила: сила тяжести. Если предмет, опущенный в воду, создает силу Архимеда большую или равную силе
    тяжести, то он плавает, иначе сила тяжести побеждает — и предмет тонет. Как мы уже поняли, сила Архимеда зависит от объема
    предмета, и обычный хлеб имеет достаточный объем, что бы плавать в воде.

  %p
    Это упрощенная картина того, почему два кусочка хлеба ведут себя по разному в воде. Более полное объяснение можно найти по ссылкам
    внизу страницы.

%a.collapse{:href => "#"}
  Cкрыть подробности


%p
  Удивительно: с того дня, как Архимед провел свое наблюдение, прошло почти
  %span.marker< две с половиной тысячи
  лет, а мы все так же можем его повторить (и для этого нам даже не нужно искать золотую корону).


%p
  Разумеется, не все эксперименты можно повторить дома. Напирмер, если взять описание опытов Эрнеста Резерфорда с облучением золотой фольги альфа-частицами,
  проделать их самостоятельно не получится. А вот в лаборатории, оборудованной источником альфа-частиц и регистраторами, можно получить точно такие же результаты,
  какие и наблюдал сам Резерфорд в 1911 году
  %sup>
    %a{:href => "#p5"}><
      [5]
  \.


