body {
  background: url(/img/noise.png);
  color: #45413c;
  font-size: 1.2em;
  font-family: "PT Sans" sans-serif;
  font-weight: 400; }

h1 {
  font-size: 1.3em;
  margin-bottom: 5px;
  text-align: center; }

h2 {
  font-size: 1.2em;
  margin-bottom: 10px; }

ol {
  padding: 10px; }
  ol li {
    list-style: decimal;
    margin-left: 10px; }

.header {
  background-color: rgba(255, 255, 255, 0.5); }

.content, .logo {
  margin: 0 auto;
  width: 1000px; }

.content {
  padding: 40px; }

.marker {
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 2px 0 2px; }

p {
  line-height: 150%; }

.footer {
  clear: both;
  height: 50px; }

ul.questions {
  margin-bottom: 40px; }
  ul.questions li {
    font-size: 1.2em; }

p {
  margin-bottom: 10px; }
  p:first-letter {
    padding-left: 15px; }

.category {
  color: #45413c;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: block;
  float: left;
  height: 295px;
  margin: 20px 20px 0 0;
  padding: 10px;
  text-decoration: none;
  width: 460px; }
  .category a {
    color: #45413c;
    font-size: 1.3em;
    padding-left: 15px; }
    .category a:after {
      content: ">"; }
  .category p {
    margin-top: 10px; }
