@charset "UTF-8";
body {
  background: url(/img/noise.png);
  color: #45413c;
  font-size: 1.2em;
  font-family: "PT Sans" sans-serif;
  font-weight: 400; }

h1 {
  font-size: 1.4em;
  text-align: center; }

h2 {
  font-size: 1.3em; }

h1,
h2 {
  font-weight: bold; }

h1,
h2,
h3 {
  margin: 25px 0 15px 0; }

h3 {
  font-size: 1.2em; }

ol,
ul {
  line-height: 150%;
  margin: 20px 0 20px 18px; }
  ol li,
  ul li {
    margin-bottom: 25px; }

ol li {
  list-style: decimal; }
  ol li a {
    color: #45413c; }

ul li {
  list-style: disc; }

sup {
  font-size: 0.5em;
  line-height: 1em;
  vertical-align: super; }
  sup a {
    text-decoration: none; }

header {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 7px 0 #7d7d7d; }

.content {
  margin: 0 auto 20px; }
  .content p {
    clear: both; }

.logo {
  margin: 0 auto; }

.content, .logo {
  width: 1000px; }

.marker {
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 2px 0 2px; }

p {
  line-height: 150%;
  margin-bottom: 25px; }
  p:first-letter {
    padding-left: 15px; }

footer {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 7px 0 #7d7d7d;
  clear: both;
  height: 100%;
  padding: 20px 0; }
  footer ol,
  footer h2 {
    padding-left: 23px;
    width: 1000px; }
  footer ol {
    margin: 0 auto; }
    footer ol li {
      margin-bottom: 5px; }
  footer h2 {
    margin: 0 auto 10px; }

.spoiler {
  display: none; }

.details {
  border-bottom: 1px dashed;
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 15px; }

.clicked {
  background: #aca8a0; }

ul.questions {
  margin-bottom: 40px;
  margin-left: 0; }
  ul.questions li {
    font-size: 1.2em;
    list-style: none; }
    ul.questions li:before {
      content: "—"; }

.categories {
  display: inline-block;
  margin: 0; }

.category {
  color: #45413c;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: block;
  float: left;
  height: 295px;
  margin: 20px 20px 0 0;
  padding: 10px;
  text-decoration: none;
  width: 460px; }
  .category a {
    color: #45413c;
    font-size: 1.3em;
    padding-left: 15px; }
    .category a:after {
      content: ">"; }
  .category p {
    margin-top: 10px; }
