ul.questions {
  margin-bottom: 40px; }
  ul.questions li {
    font-size: 1.2em; }

p {
  margin-bottom: 10px; }
  p:first-letter {
    padding-left: 15px; }

.category {
  color: #45413c;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: block;
  float: left;
  height: 295px;
  margin: 20px 20px 0 0;
  padding: 10px;
  text-decoration: none;
  width: 460px; }
  .category a {
    color: #45413c;
    font-size: 1.3em;
    padding-left: 15px; }
    .category a:after {
      content: "<"; }
  .category p {
    margin-top: 10px; }
