ul.questions {
  margin-bottom: 40px; }
  ul.questions li {
    font-size: 1.2em; }

p {
  margin-bottom: 10px; }
  p:first-letter {
    padding-left: 15px; }

.category {
  color: #45413c;
  border: 10px solid white;
  display: block;
  float: left;
  height: 295px;
  margin: 20px 10px 0 0;
  padding: 10px;
  text-decoration: none;
  width: 450px; }
  .category a {
    color: #45413c;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; }

.homeopathy {
  background: url(/img/homeopathy.jpg) no-repeat; }

.gmo {
  background: url(/img/gmo.jpg) no-repeat; }

.astrology {
  background: url(/img/astrology.jpg) no-repeat; }

.science {
  background: url(/img/science.jpg) no-repeat; }
