@import 'variables'

body
  background:             url(/img/noise.png)
  color:                  $main_color
  font-size:              $main_font_size
  font-family:            'PT Sans' sans-serif
  font-weight:            400

h1
  font-size: 1.4em
  text-align: center

h2
  font-size: 1.3em

h1,
h2,
h3
  font-weight: bold
  margin-bottom: 15px

h3
  font-size:  1.2em

ol,
ul
  line-height:            150%
  margin:  20px 0
  li
    margin-bottom: 5px

ol
  li
    list-style: decimal
    a
      color: $main_color

ul
  li
    list-style: disc

sup
  vertical-align: super
  a
    font-size: 0.9em
    text-decoration: none

.header
  background-color:       $very_light


.content, .logo
  margin:                 0 auto
  width:                  1000px

.content
  padding:                40px

.marker
  font-style:             italic
  background-color:       $very_light
  padding:                0 2px 0 2px

p
  line-height:            150%

.footer
  clear: both
  height: 50px

@import 'index'
@import 'facts'