@import 'variables'

html, body
  height:                 100%
  width:                  100%

body
  background:             url(/img/noise.png)
  color:                  $main_color
  font-size:              $main_font_size
  font-family:            'PT Sans' sans-serif
  font-weight:            400

.header
  background-color:       $very_light


.content, .logo
  margin:                 0 auto
  width:                  1000px

.content
  padding:                40px

.marker
  font-style:             italic
  background-color:       $very_light
  padding:                0 2px 0 2px

p
  line-height:            130%

@import 'index'
@import 'facts'