.general_desc
  margin-bottom: 10px
  padding: 10px
  text-align: justify
  text-indent: 20px

.category
  border: 1px solid
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px
  border-color: #e5e5e5 #dbdbdb #d2d2d2
  border-radius: 4px
  display: block
  float: left
  height: 280px
  margin: 0 10px 20px 10px
  padding: 15px 160px 0 20px
  text-decoration: none
  width: 298px
  h3
    color: #333
    font-size: 16px
    font-weight: bold
    margin-bottom: 10px
  p
    color: #333
    text-align: justify

.astrology
  background: #fcfcfc url(/img/astrology.jpg) 95% 70% no-repeat

.homeopathy
  background: #fcfcfc url(/img/homeopathy.jpg) 95% 70% no-repeat

.hiv
  background: #fcfcfc url(/img/hiv.png) 95% 70% no-repeat

.gmo
  background: #fcfcfc url(/img/gmo.jpg) 95% 70% no-repeat