!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title []

    %link{:type => 'text/css', :rel => "stylesheet", :href => '/css/lib/reset-min.css', :media => 'all'}

    %link{:type => 'text/css', :rel => "stylesheet", :href => '/css/lib/960_12_col.css', :media => 'all'}

    %link{:type => 'text/css', :rel => "stylesheet", :href => '/css/app.css', :media => 'all'}


    %script{:type => 'text/javascript', :src => '/js/lib/jquery-1.7.2.min.js'}

    %script{:type => 'text/javascript', :src => '/js/app.js'}

  %body
    %div.menu_container
      %header.container
        %ul.main_menu
          %li
            %a{:href => '#'}  Шарлатан
          %li
            %a{:href => '#'} Астрология
          %li.current_page Заблуждения

    %div.container
      %h2 О запахе скунса
      %p.general_desc
        Ароматы животных, так же как и ароматы растений,
        служат не только для развлечений -
        пометки своей территории или привлечения
        представителей противоположного пола.
        Иногда это тоже защита. Не так часто,
        как у растений. У животных есть ноги, чтобы убежать,
        и когти, чтобы дать сдачи, а некоторые животные вообще
        додумались до огнестрельного оружия.

      %p.general_desc
        Одной из особенностей этого животного является
        то, что в случае атаки, или просто угрозы,
        специальные анальные железы выстреливают на расстояние
        до 3х метров вонючей жидкостью. Вещества из этой жидкости
        при высоких концентрациях являются лакриматорами
        (действуют как слезоточивый газ), могут вызывать тошноту
        и головокружение. В очень больших концентрациях (порядка 1%)
        вдыхание приводит к потере сознания,
        и теоретически может закончиться моргом.

      %p.general_desc
        В низких концентрациях эти вещества для
        организма относительно безвредны, но являются
        крайне отталкивающими по запаху.
        Проблема осложняется тем, что порог восприятия
        (та, концентрация, при которой мы отчетливо чувствуем запах вещества)
        составляет 10 частей на миллиард. Напомню, что порог восприятия для
        скатола (известного своей неприятной вонючестью) в 15 раз выше.
        То есть скунс в 15 раз более вонюч, чем скатол.

      %a.category.astrology{:href => '#'}
        %h3 Научность и действенность астрологии
        %p
          Научность и действенность астрологии
          подтверждается ещё и тем, что тригонов
          по количеству четыре. Научность соционики
          подтверждается, тем, что там тоже четыре квадры.

      %a.category.homeopathy{:href => '#'}
        %h3 Научность и действенность астрологии
        %p
          Научность и действенность астрологии
          подтверждается ещё и тем, что тригонов
          по количеству четыре. Научность соционики
          подтверждается, тем, что там тоже четыре квадры..

      %a.category.hiv{:href => '#'}
        %h3 Научность и действенность астрологии
        %p
          Научность и действенность астрологии
          подтверждается ещё и тем, что тригонов
          по количеству четыре. Научность соционики
          подтверждается, тем, что там тоже четыре квадры.

      %a.category.gmo{:href => '#'}
        %h3 Научность и действенность астрологии
        %p
          Научность и действенность астрологии
          подтверждается ещё и тем, что тригонов
          по количеству четыре. Научность соционики
          подтверждается, тем, что там тоже четыре квадры.

    %div{:class => 'clear'}

    %script{:type => 'text/javascript', :src => 'js/boot.js'}