%ul.questions
  %li
    — Как быстро генетически модифицированная картошка может
    %span.marker<
      уничтожить
    человечество?

  %li
    — Какой знак зодиака
    %span.marker<
      наиболее благоприятный
    для вашего будущего ребенка?

  %li
    — Какая доза гомеопатического препарата может быть
    %span.marker<
      смертельной
    для вас?

%p
  Ответить на любой из этих вопросов найдется много желающих: ученые, журналисты, политики, гадалки и экстрасенсы. Как простому человеку,
  не тратя долгие годы на изучение специальных дисциплин, понять — кто из них прав, а кто является шарлатаном?

%p
  Этот сайт представляет собой попытку собрать и структурировать просветительские статьи на русском языке, по широкому кругу
  злободневных вопросов. Очень важно отметить, что при подборе материалов, предпочтение отдается тем из них, которые написаны
  %span.marker<
    простым и понятным языком
  и при этом авторы которых
  %span.marker<
    являются специалистами
  в своих областях.

%p
  Надеемся, что труд этих людей, сумевших найти время для популяризации науки, поможет вам лучше понять красоту
  и сложность окружаещего нас мира.

.category.science
  %a{:href => '#'}
    «Официальная» наука
  %p


-#.category.astrology
-#  %a{:href => '#'}
-#    Астрология
-#  %p

-#.category.homeopathy
-#  %a{:href => '#'}
-#    Гомеопатия
-#  %p

-#.category.gmo
-#  %a{:href => '#'}
-#    ГМО
-#  %p