!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title []

    %link{:type => 'text/css', :rel => "stylesheet", :href => '/css/lib/reset-min.css', :media => 'all'}

    %link{:type => 'text/css', :rel => "stylesheet", :href => '/css/lib/960_12_col.css', :media => 'all'}

    %link{:type => 'text/css', :rel => "stylesheet", :href => '/css/app.css', :media => 'all'}


    %script{:type => 'text/javascript', :src => '/js/lib/jquery-1.7.2.min.js'}

    %script{:type => 'text/javascript', :src => '/js/app.js'}

  %body
    %div.menu_container
      %header.container_12
        %ul.grid_12.main_menu
          %li
            %a{:href => '#'}  Шарлатан
          -#%li
          -#  %a{:href => '#'} Астрология
          -#%li.current_page Заблуждения

    %div.container_12
      %section.grid_12
        %h2 О запахе скунса
        %p.general_desc
          Ароматы животных, так же как и ароматы растений,
          служат не только для развлечений -
          пометки своей территории или привлечения
          представителей противоположного пола.
          Иногда это тоже защита. Не так часто,
          как у растений. У животных есть ноги, чтобы убежать,
          и когти, чтобы дать сдачи, а некоторые животные вообще
          додумались до огнестрельного оружия.
        %a{:href => '#'}
          %div.grid_4.alpha
            %div.astrology
              %p
                На куриных фермах в Австралии появилась новая разновидность герпесвирусов,
                вызывающих инфекционный ларинготрахеит (ILTV).

        %a{:href => '#'}
          %div.grid_4
            %div.homeopathy
              %p
                Курицы регулярно болеют подобными вирусами,
                со смертностью достигающей 20%.

        %a{:href => '#'}
          %div.grid_4.omega
            %div.hiv
              %p
                Особенность этой разновидности в том,
                что она произошла от двух вакцин,
                которыми фермеры пользовались для предотвращения ITLV.

        %a{:href => '#'}
          %div.grid_4.alpha
            %div.gmo
              %p
                Аттенуированные вакцины основаны на живых ослабленных вирусах.

    %div{:class => 'clear'}

    %script{:type => 'text/javascript', :src => 'js/boot.js'}