.container

  %p.general_desc.questions
    Как быстро генетически модифицированная картошка может уничтожить человечество?
    Какой знак зодиака наиболее благоприятный для вашего будущего ребенка?
    Какая доза гомеопатического препарата может быть смертельной?
    Сколько же на самом деле лет планете Земля: десять тысяч или все двадцать?

  %p.general_desc
    Если вы задавались подобными вопросами, возможно, вы пришли по правильному адресу.
    Главная цель данного сайта — попытаться простым и понятным языком
    донести до читателя позицию науки на множество явлений, окружающих человека в
    повседневной жизни.

  %p.general_desc
    То, что для специалистов, обладающих определенным набором знаний, является фактически обоснованным и не требует доказательств,
    далеко не всегда очевидно обычному человеку. Причин этому множество, и не последнее место в них занимает специализация людей на разных
    видах деятельности: знания, например, биолога и бухгалтера разительно отличаются. Более того, даже в рамках одной профессии люди с разными
    специализациями решают порой совершенно непохожие задачи.

  %p.general_desc
    К сожалению, обычный человек, не обладая специальными знаниями в некоторой научной дисциплине не может критически осмыслять
    информацию, связанную с этой дисциплиной и лишь немногие ученые находят желание и время заниматься научно-просветительской деятельностью.
    На этом фоне засилие безграмотных в естественных науках журналистов, охочих до «жареных» сенсаций и заваливающих широким мусорным потоком СМИ,
    выглядит закономерно.

  %p.general_desc
    Человек, который хочет разобраться в каком-то явлении, фактически поставлен перед выбором: или потратить несколько лет
    на изучение интересующей его дисциплины или получить все знания здесь и сейчас, в формате «срыва покровов» за пятнадцать минут
    репортажа по центральному каналу телевидения. Не удивительно, какой способ в итоге выберет подавляющее большинство людей.

  %p.general_desc
    Этот сайт предназначен для людей, которых перестали удовлетворять формулировки вроде «ученые говорят», «общеизвестно, что»,
    за которыми не стоит ничего. Этот сайт для тех, кто начинает сомневаться в «общепринятых» понятиях из своего окружения,
    и хочет посмотреть на позицию науки по этим вопросам. Этот сайт для тех, кто не боится мыслить критически и подвергать здоровому скептицизму
    истины, которые окружение читателя пытается выставить аксиомами.

  %p.general_desc
    Для удобства читателя, всем темам выделены отдельные страницы.
    К каждому крупному утверждению на сайте будут представлены ссылки на
    труды специалистов в рассматривамых темах, преимущественно написанные понятным языком.
    Приоритет будет отдаваться русскоязычным популяризаторам науки. По мере развития сайта список вопросов, тем, утвержений и ссылок будет пополняться.

  %a.category.science{:href => '#'}
    %h3 «Официальная» наука
    %p


  %a.category.astrology{:href => '#'}
    %h3 Астрология — ведь звезды не лгут!
    %p

  %a.category.homeopathy{:href => '#'}
    %h3 Гомеопатия, разведения и разводы
    %p

  %a.category.hiv{:href => '#'}
    %h3 ВИЧ и вся правда о нем
    %p

  %a.category.gmo{:href => '#'}
    %h3 Генетические Мутанты и Общество
    %p
