!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title
      =haml :'_shared/title'

    %link{:type => 'text/css', :rel => "stylesheet", :href => 'css/lib/reset-min.css', :media => 'all'}
    %link{:type => 'text/css', :rel => "stylesheet", :href => 'css/app.css',   :media => 'all'}

    %script{:type => 'text/javascript', :src => 'js/lib/jquery-1.7.2.min.js'}

  %body
    =haml :"_shared/menu"
    =yield

    %script{:type => 'text/javascript', :src => 'js/boot.js'}