!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %title
      Шарлатан.info
      = '— ' + @title

    %link{:type => 'text/css', :rel => "stylesheet", :href => 'http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic'}
    %link{:type => 'text/css', :rel => "stylesheet", :href => 'css/lib/reset-min.css', :media => 'all'}
    %link{:type => 'text/css', :rel => "stylesheet", :href => 'css/app.css', :media => 'all'}

    %script{:type => 'text/javascript', :src => 'js/lib/jquery-1.7.2.min.js'}

  %body
    .header
      .logo
        %img{:src => '/img/logo.png'}

    .content
      =yield

    .footer
      =yield_content :footer

    %script{:type => 'text/javascript', :src => 'js/boot.js'}